.know-us-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 20em;
}

.know-us-section ul {
  list-style-type: none;
}


.know-us-section li {
  display: flex;
  align-items: center;
  font-size: large;
  margin: 0.5em 0;
}

.know-us-section li span { 
  color: var(--codar-red);
  margin-right: 1em;
}
.know-us-section img {
  max-width: 400px;
}

@media (max-width: 600px) {
  .know-us-section {
    display: grid;
    grid-template-columns: 0.75fr;
    margin-top: 10em;
    justify-content: center;
  }

  .know-us-section picture {
    text-align: center;
    margin-bottom: 2em;
    order: 0;
  }
  .know-us-section img {
    width: 200px;
    margin: 0 auto;
  }

  .know-us-section ul {
    order: 1
  }
}